// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*共通レイアウト*/
body {
  margin-left: 100px;
  margin-right: 100px;
}
h1{
  font-family:游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,serif;
  border-bottom: -width;
}
h2{
  border-bottom: -width;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.actions {
  margin:5px;
  width:30px;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
/*ヘッダー*/
.navi{
    padding: 10px 0;
    margin:  auto;
    background-color: #acd2ac;
  
}
.justify-content-center{
    padding-right:10px;
}
/*フッター*/
.footer{
    background-color: #acd2ac;
}
/* product */
.product-body{
 height: 50px;
 margin: auto;
}
.row{
  margin: auto;
}