<h1 class="border-bottom">クレジットカード情報入力</h1>
<%= form_with url:{controller: :card,action: :create} ,method: :post, id: "cardCreateForm",name: 'cardCreateForm' do |f|%>
<%= f.label 'カード番号'%></br>
<%= f.text_field :card_number,type: "text", class: 'cardnumber-input', id: 'card-number', placeholder: "半角数字のみ", maxlength: 16%>


</br><%= f.label '有効期限'%></br>
<%= select_tag :exp_month,options_for_select(["01","02","03","04","05","06","07","08","09","10","11","12"]),id:'exp_month',class: 'dateSelect'%>
<span>月</span>
 <%= select_tag :exp_year,options_for_select({"20":2020,"21":2021,"22":2022,"23":2023,"24":2024,
"25":2025,"26":2026,"27":2027,"28":2028,"29":2029
}),class: 'dateSelect',id: 'exp_year',type: "text"%>
<span>年</span></br>

<%= f.label 'セキュリティーコード'%></br>
<%= f.text_field :cvc, type: 'text', class: 'securityInput', id: 'cvc', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
 %></br>

<%= f.submit '追加する',class: 'creditSubmit',id: 'token_submit'%>
  <div id="card_token"></div>

<%end%>