<%= form_with  local: true, url:{controller: :card,action: :pay},method: :post,id: 'charge-form' do |form| %>
  <script
    type="text/javascript"
    src="https://checkout.pay.jp"
    class="payjp-button"
    data-text="購入する"
    data-key="pk_test_2842f213318b76f373383e74"
    data-submit-text="トークンを作成する"
   >
  </script>
<% end %>