  <% @product.image[0..7].each do |image| %>
   <ul><%= image_tag image.url%></ul>
  <% end %>
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  


<div class="img_field">
  <%=form.label :image %>
  <%= form.file_field :image,multiple: true%>
      
      
  <div class="field">
    <%= form.label :name %></br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :product_deta %></br>
    <%= form.text_area :product_deta %>
  </div>

  <div class="field">
    <%= form.label :price %></br>
    <%= form.text_field :price %>
  </div>
  <div class="field">
    <%= form.label :tag_list %>
    <%= text_field_tag 'product[tag_list]', product.tag_list, :class => "form-control" %>
  </div>
  <div >
    <%= form.submit '確定',class: 'btn btn-info btn-block',style: 'margin-top:5mm'%>
  </div>
<% end %>
