 <% breadcrumb :product,@product %>
 <%=  render "/layouts/breadcrumbs"%>
<div class="row">
<%if @product.image.empty?%>
      
  <%= image_tag 'gray.jpg',class: 'img-thumbnail', alt: 'no image' ,width: '80'  %>

<%else%>
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
         <div class="carousel-item active">
             <%= image_tag @product.image[0].url%>
          </div>
        <% @product.image[1..7].each do |image| %>
          <div class="carousel-item">
             <%= image_tag image.url%>
          </div>
     
        <% end %>
    
    </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">前へ</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">次へ</span>
  </a>
</div>

<% end %>

  
<div class= "product-body">
  <p> <%= @product.product_deta %> </p>
</div>
</div>
<h3><%= @product.name %></h3>

  <p><%= @product.price.to_s(:delimited) %>円(税込み)</p>
  
<%if !admin_signed_in?%>
  <%if Cart.exists?(user: current_user, product_id: @product.id) %>
    <%= link_to 'カートから削除',cart_path(@product.id),method: :delete,class: 'btn btn-secondary' %>
  <%else%>
    <%= link_to'カートに入れる',carts_path(id: @product.id), method: :create,class: 'btn btn-danger'%>
  <%end%>
<%end%>

</br>
<%if Favorite.exists?(user: current_user, product_id: @product.id)%>
  <%= link_to 'お気に入りから削除',favorite_path(@product.id),method: :delete,class: 'btn btn-warning' %>

  <%else%>
    <%= link_to 'お気に入り追加',favorite_index_path(id: @product.id),method: :post ,class: 'btn btn-outline-warning'%>
<%end%>

<!-- 余裕があれば画像切り替えにJsを使う-->