    <div class="row" style="margin-left: auto">
    <% @products.each do |product| %>
    <div class='card' style="width: 18rem;">
    <% if product.image.empty? %>
    <%= image_tag 'gray.jpg' %>    
    <%else%>
        <p ><%= image_tag product.image[0].url  %></p>
    <%end%>
        <h3><%= link_to product.name,product_path(product),class: 'card-title text-dark' %></h3>
        <p class='card-text '><%= product.price.to_s(:delimited) %>円</p>
        
        <% if admin_signed_in?%>
        <%= link_to '編集', edit_product_path(product),class: 'text-dark' %>
        <%= link_to '削除', product_path(product.id),class: 'text-dark',method: :delete, data: {comfirm: "削除してよろしいでしょうか?"} %>
        <% else %>
        <button type="button" class="btn btn-danger">カートに入れる</button>

      <%end%>
      </div>
    <% end %>
</div>
<%= paginate @products %>
