<%= form_with(model: orderlist, local: true) do |form| %>
  <% if orderlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orderlist.errors.count, "error") %> prohibited this orderlist from being saved:</h2>

      <ul>
      <% orderlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :product_items %>
    <%= form.text_field :product_items %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
