<p id="notice"><%= notice %></p>

<h1>Orderlists</h1>
    <% @orderlists.each do |orderlist| %>
      
        <%= orderlist.user.name %><br/>
        
        <%= orderlist.product_items.each do|items| %>
        <%=items%>
       
        <%end%>
       <br/> <%= link_to 'Show', orderlist %><br/>
        <%= link_to 'Edit', edit_orderlist_path(orderlist) %><br/>
        <%= link_to 'Destroy', orderlist, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
      </tr>
    <% end %>
  </tbody>
</table>


