<p id="notice"><%= notice %></p>


<p>
  <strong>User:</strong>
  <%= @orderlist.user.name %>
</p>

<p>
  <strong>Product items:</strong>
  <%= @orderlist.product_items %>
</p>

<%= link_to 'Edit', edit_orderlist_path(@orderlist) %> |
<%= link_to 'Back', orderlists_path %>
