<%= form_with(model: orderhistory, local: true) do |form| %>
  <% if orderhistory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orderhistory.errors.count, "error") %> prohibited this orderhistory from being saved:</h2>

      <ul>
      <% orderhistory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :product_items %>
    <%= form.text_field :product_items %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
