<p id="notice"><%= notice %></p>

<h1>Orderhistories</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Product items</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orderhistories.each do |orderhistory| %>
      <tr>
        <td><%= orderhistory.user %></td>
        <td><%= orderhistory.product_items %></td>
        <td><%= orderhistory.status %></td>
        <td><%= link_to 'Show', orderhistory %></td>
        <td><%= link_to 'Edit', edit_orderhistory_path(orderhistory) %></td>
        <td><%= link_to 'Destroy', orderhistory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orderhistory', new_orderhistory_path %>
