<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @orderhistory.user %>
</p>

<p>
  <strong>Product items:</strong>
  <%= @orderhistory.product_items %>
</p>

<p>
  <strong>Status:</strong>
  <%= @orderhistory.status %>
</p>

<%= link_to 'Edit', edit_orderhistory_path(@orderhistory) %> |
<%= link_to 'Back', orderhistories_path %>
