<p id="notice"><%= notice %></p>

<h2>カート一覧</h2>
 <% @user.products.each do |product|%>

  <div class='card' style="width: 18rem;">
    <% if product.image.empty? %>
    <%= image_tag 'gray.jpg' %>    
    <%else%>
        <p ><%= image_tag product.image[0].url  %></p>
    <%end%>
        <h3><%= link_to product.name,product_path(product),class: 'card-title text-dark' %></h3>
        <p class='card-text '><%= product.price.to_s(:delimited) %>円</p>
        
        <%= link_to '削除', cart_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>


      
<% end %>
<h4>合計</h4>
<h5><%= @user.products.sum(:price).to_s(:delimited) %>(税込み)円</h5>
    <%if @user.products.sum(:price) == 0 %>
    <button class="btn btn-secondary"disabled>注文画面へ</button>
    <%else%>
    <%=link_to '注文画面へ',orderform_card_index_path(@card),class: 'btn btn-danger'%>
    <%end%>
<%= paginate @carts %>