 <%= stylesheet_link_tag "home", :media => "all" %>
 <style>
.dropdown:hover > .dropdown-menu {
  display: block;
}
</style>
<header class ="border-bottom shadow-sm">
 <div>
<h1>燈庵</h1><p align="right">公式通販サイト燈庵 TEL:123-4321-5432</p>
          <nav  >
              <!-- admin log_in アクセス→topから'/admins/sign_in' 入力  -->
            <ul class="nav justify-content-end">
        <%if user_signed_in?%>
        <%= current_user.name%>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class: 'btn btn-link nav-item text-dark'%>|<li>
        <li><%= link_to 'お気に入り',favorite_index_path,class: 'btn btn-link nav-item text-dark'%>|</li>
        <li><%= link_to 'プロフィール',profiles_path,class: 'btn btn-link nav-item text-dark' %>|
        <li><%= link_to 'カート',carts_path,class: 'btn btn-link nav-item text-dark'%></li>
        <% elsif admin_signed_in? %>
        
        <li><%= link_to '管理者ページ', admin_index_path,class: 'btn btn-link nav-item text-dark'%>|<li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class: 'btn btn-link nav-item text-dark'%><li>

            <% else %>

        <li><%= link_to '会員登録', new_user_registration_path,class: 'btn btn-link nav-item text-dark'%>|</li>
          <li><%= link_to 'ログイン', new_user_session_path,class: 'btn btn-link nav-item text-dark'%>|</li>
          <li><%= link_to 'カート',root_path,class: 'btn btn-link nav-item text-dark'%></li>
          </ul>
          
          
          <% end %>
          </nav>
        <nav class="navi">

            <ul class="nav w-100 H-50 nav-justified justify-content-center ">
            <li class="btn nav-item"><%=link_to "TOP",root_path,class: 'nav-item text-success' %></li>
            
            <li class="nav-item dropdown">
            <a href="#" class=" nav-link dropdown-toggle text-success" id="navbarDropdown" 
            role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">商品リスト</a>
              
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   
               <%= link_to "すべて",products_path,class: 'dropdown-item',data: {"turbolinks" => false}%>
               <%= link_to "人気","/products/popular",class: ' dropdown-item'%>
               <%= link_to "惣菜",products_side_dish_path,class: 'dropdown-item',data: {"turbolinks" => false}%>
               <%= link_to "セットメニュー",products_set_menu_path,class: 'dropdown-item',data: {"turbolinks" => false}%>
                <div class="dropdown-divider"></div>
               </div>
               
            </li>
            <li class="btn nav-item"><%=link_to "イベント",events_path,class: 'nav-item text-success' %></li>
            <li class="btn nav-item"><%=link_to "紹介", about_path,class: 'nav-item text-success'%></li>
            <li class="btn nav-item"><%=link_to "お問い合わせ", new_inquire_path,class: 'nav-item text-success' %></li>
            </ul>    
            
        </nav>


        <div>
</header>