<!DOCTYPE html>
<html>
  <head>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          <script src= "https://js.pay.jp/"type="text/javascript"></script>

    <title>燈庵公式通販サイト</title>
    
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= yield %>
    <%= render 'layouts/footer' %>
           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </body>
</html>