<%= form_with(model: @profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <strong>【お名前】</strong>
  <div class="field">
   <strong><%= form.label '苗字' %></strong></br>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
   <strong><%= form.label '名前' %></strong></br>
    <%= form.text_field :first_name %>
  </div>
  <div class="field">
<strong>都道府県</strong></br>
<%= form.select :prefectures,{'北海道': '北海道', '青森県': '青森県','秋田県': '秋田県','岩手県': '岩手県','宮城県': '宮城県','山形県':'山形県','福島県': '福島県','栃木県': '栃木県','新潟県': '新潟県','群馬県': '群馬県',
                              '埼玉県': '埼玉県','茨城県': '茨城県','千葉県': '千葉県','東京都': '東京都','神奈川県': '神奈川県',
                              '山梨県': '山梨県','長野県': '長野県','岐阜県': '岐阜県','富山県': '富山県','石川県':'石川県','静岡県': '静岡県','愛知県': '愛知県','三重県': '三重県','奈良県': '奈良県','和歌山県': '和歌山県',
                              '福井県': '福井県','滋賀県': '滋賀県','京都府': '京都府','大阪府': '大阪府','兵庫県': '兵庫県',
                              '岡山県': '岡山県','鳥取県': '鳥取県','島根県': '島根県','広島県': '広島県','山口県': '山口県','香川県': '香川県','徳島県': '徳島県','愛媛県': '愛媛県','高知県': '高知県','福岡県': '福岡県',
                              '佐賀県': '佐賀県','大分県': '大分県','熊本県': '熊本県','宮崎県': '宮崎県','長崎県': '長崎県','鹿児島県': '鹿児島県','沖縄県': '沖縄県'},class: 'form-control' %>
  </div>

  <div class="field">
    <strong><%= form.label '住所' %></strong></br>
    <%= form.text_field :adress %>
  </div>

  <div class="field">
    <strong><%= form.label '番地' %></strong></br>
    <%= form.text_field :municipality %>
  </div>

  <div class="field">
    <strong><%= form.label '建物名' %></strong></br>
    <%= form.text_field :building_name %>
  </div>

  <div class=" justify-content center" style="margin: 10px">
    <%= form.submit'確定',class: 'btn btn-success w-50 ' %>
  </div>
  
<% end %>
<p>※登録情報は、後から変更できます。</p>