<h3 class="text-algin center">退会してよろしいでしょうか？</h3>
<%= link_to '退会する', profile_path(current_user.id), method: :delete, data: { confirm: 'よろしいですか?' },class: 'btn btn-danger' %>
<%= link_to '戻る',:back,class: 'btn btn-secondary' %>
