<p id="notice"><%= notice %></p>
<strong>ユーザー名</strong></br>
<%=@user.name%></br>
<strong>登録情報</strong></br>
<h5><%= link_to '詳細画面へ',profile_path(current_user.id),class: 'text-dark'%></h5>
<strong>クレジットカード</strong></br>
 <%= link_to'カード情報を見る',card_path(current_user.id) %>


<br>


