<p id="notice"><%= notice %></p>


<h2>プロフィール情報</h2>

  <strong>ユーザー名</strong></br>
  <%= @profile.user.name %>


<p>
  <strong>Last name:</strong></br>
  <%= @profile.last_name %>
</p>

<p>
  <strong>First name:</strong></br>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Prefectures:</strong></br>
  <%= @profile.prefectures %>
</p>

<p>
  <strong>Adress:</strong></br>
  <%= @profile.adress %>
</p>

<p>
  <strong>Municipality:</strong></br>
  <%= @profile.municipality %>
</p>

<p>
  <strong>Building name:</strong></br>
  <%= @profile.building_name %>
</p>
<%= link_to '編集する', edit_profile_path(@profile),class: 'btn'%>
<%= link_to '退会する',confirmate_delete_path,class: 'btn' %>
<%= link_to '戻る', profiles_path(@profile) %>
  
