 <% breadcrumb :about %>
 <%=  render "/layouts/breadcrumbs"%>
<h2>紹介ページ</h2>
<%= image_tag 'kyoto-2778629_640',class: 'd-block w-100' %>

<span　class="justify-center">
<p>オンラインショップ燈庵へようこそ！燈庵は、和食などの食品を取り扱う店舗販売など行っております。
また、当サイトでは、通販限定アイテムなど取り揃えております。ぜひご覧くださいませ</p>

<p>イベントのご依頼などは、お問い合わせフォーム
又は、サイトに記載されている電話番号から直接お電話くださいませ</p>

</span>