<div class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'kyoto-2778629_640',class: 'd-block w-100',alt: "第1スライド" %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'pottery-4578819_640.jpg',class: 'd-block w-100',alt: "第2スライド" %>
    </div>
    <div class="carousel-item">
      <%= image_tag  "japan-5221889_640.jpg",class: "d-block w-100",alt: "第3スライド"%>
    </div>
  </div>
</div>

<h2 class="border-bottom">welcome</h2>
<span　class="justify-center">
<p>オンラインショップ燈庵へようこそ！燈庵は、和食などの食品を取り扱う店舗販売など行っております。
また、当サイトでは、通販限定アイテムなど取り揃えております。ぜひご覧くださいませ</p>

<p>イベントのご依頼などは、お問い合わせフォーム
又は、サイトに記載されている電話番号から直接お電話くださいませ</p>

</span>
<h2 class="border-bottom">イベント情報</h2>

   <% @eventposts.each do |eventpost| %>
    
      <div class="event-index-item border-bottom">
       
       <h3> <%=link_to eventpost.title,event_path(eventpost),class: 'text-dark' %></h3>
        <%= eventpost.created_at.strftime('%y/%m/%d') %>
        <br>
      
      
      </div>
     
    <% end %>


