 <% breadcrumb :events %>
 <%=  render "/layouts/breadcrumbs"%>

<div id="eventpost_wrap">

  <div id="event_list">
   <% @eventposts.each do |eventpost| %>
    
      <div class="event-index-item border-bottom">
       
       <h3> <%=link_to eventpost.title,event_path(eventpost),class: 'text-dark' %></h3>
        <%= eventpost.created_at.strftime('%y/%m/%d') %>
        <br>
        <% if admin_signed_in? %>
        <%=link_to"編集", edit_event_path(eventpost.id) %>
        <%= link_to"削除",event_path(eventpost.id), method: :delete, data: {comfirm: "削除してよろしいでしょうか?"}%> 
        <% end %>
      
      </div>
     
    <% end %>

    </div>
    <%= paginate @eventposts %>