<h2>新規投稿</h2>

 <%= form_for @eventpost,url:{controller:'events',action:'create'} do |f| %>
    <div class="form-group">
    <br>
    <br> 
    <br>
       <p> <%= f.label :title, 'タイトル' %></p>

        <p><%= f.text_field :title, class: 'form-control' %></p>
    <br>
    <br>
    </div>
    <div class="form-group">
        <%= f.label :content, '投稿内容' %>
        <br>
        <%= f.text_area :content, id: :eventpost_content%>
        <trix-editor input="eventpost_content"></trix-editor>
      <br>
      <br>
    </div>
    <%= f.submit 'Create Eventpost', class: 'btn btn-info btn-block' %>
    <br>
    <br>
    <br>
    <% end %>