 <% breadcrumb :event,@eventpost %>
 <%=  render "/layouts/breadcrumbs"%>
<div id="title">
        <h1><%= @eventpost.title %></h1>
</div>

<div id="article_wrap">

    <div id="content">
       <%= sanitize @eventpost.content, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong div), attributes:  %w(id class href) %>
    </div>
    </div>
