<h2>管理者ページ(Admin#index)</h2>
<p>ページジャンプ</p>
<p>商品ページ</p>

<p><%=link_to '一覧',products_path %></p>
<%= link_to "追加",new_product_path %>
<p>イベント</p>
<%=link_to '一覧',events_path %>
<%= link_to "追加",new_event_path %>
<p>問合せ</p>
<%= link_to '問合せ確認リスト',inquires_path %>
<p>受注リスト</p>
<%= link_to '受注リスト表示',orderlists_path %>