<%= form_for(model: inquire, local: true) do |form| %>
  <% if inquire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquire.errors.count, "error") %> prohibited this inquire from being saved:</h2>

      <ul>
      <% inquire.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
