<h3 class="border-bottom">お問い合せ</h3>

<%= form_for @inquire,url:{controller: 'inquires',action: 'create'} do |form| %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.hidden_field :name %>
    <%= @inquire.name%>
    
  </div>
    
    <div class="field">
    <%= form.label :email %>
    <%= form.hidden_field :email %>
    <%= @inquire.email%>
  </div>
  
  <div class="field">
    <%= form.label :title %>
    <%= form.hidden_field :title %>
    <%= @inquire.title%>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.hidden_field :content %>
    <%= @inquire.content%>
  </div>

  <div class="actions">
    <%= form.submit'送信' %>
    <%= form.submit '戻る', name: :back %>
  </div>
<% end %>



