<p id="notice"><%= notice %></p>

<h2 class="border-bottom">問い合わせ内容確認リスト</h2>

  <tbody>
    <% @inquires.each do |inquire| %>
      
      <h4><%= link_to inquire.title,class: 'text-dark' %></h4><p class="text-algin right"><%= inquire.name %></p>
      <%= inquire.content %>
      <%= link_to '削除', inquire, method: :delete, data: { confirm: 'Are you sure?' } %>
      <p class="text-algin right"><%= inquire.created_at.strftime('%y/%m/%d') %></p>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inquire', new_inquire_path %>
