<h3 class="border-bottom">お問い合せ</h3>

<%= form_for @inquire,url:{controller: 'inquires',action: 'confirmation'} do |form| %>
  

  <div class="field">
    <%= form.label :name %></br>
    <%= form.text_field :name %>
  </div>
    
    <div class="field">
    <%= form.label :email %></br>
    <%= form.text_field :email %>
  </div>
  
  <div class="field">
    <%= form.label :title %></br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %></br>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit'確認画面へ'%>
  </div>
<% end %>

