<p id="notice"><%= notice %></p>

<p>
  <strong>氏名</strong>
  <%= @inquire.name %>
</p>

<p>
  <strong>Email</strong>
  <%= @inquire.email %>
</p>

<p>
  <strong>題名</strong>
  <%= @inquire.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @inquire.content %>
</p>

<%= link_to '戻る', inquires_path %>
