<h2 class="border-bottom">お気に入り商品一覧</h2>
 <div class="row" style="margin-left: auto">
   
<% @user.products.each do |product|%>

  <div class='card' style="width: 18rem;">
    <% if product.image.empty? %>
    <%= image_tag 'gray.jpg' %>    
    <%else%>
        <p ><%= image_tag product.image[0].url  %></p>
    <%end%>
        <h3><%= link_to product.name,product_path(product),class: 'card-title text-dark' %></h3>
        <p class='card-text '><%= product.price.to_s(:delimited) %>円</p>
        
        <button type="button" class="btn btn-danger">カートに入れる</button>

  <%= link_to 'お気に入りから削除',favorite_path(product.id),method: :delete,class: 'btn btn-warning' %>
  
<%end%>
</div>
  </div>